@import "tailwindcss";
@plugin "daisyui" {
  themes: ["light", "dark"];
}

.container{
  margin-inline: auto;
  padding-inline: 24px;
}

:root {
  /* CONTAINER */
  --breakpoint-sm: 40rem;    
  --breakpoint-md: 48rem;    
  --breakpoint-lg: 64rem;    
  --breakpoint-xl: 74.5rem;  
  --breakpoint-2xl: 96rem;   
  /* CONTAINER */
}